<h3>My URLs</h3>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Short URL ID</th>
        <th>Long URL</th>
      </tr>
    </thead>
    <tbody>
      <% for (let id in urls) { %>
        <tr>
          <td><a href="/urls/<%= id %>"><%= id %></a></td>
          <td><%= urls[id] %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>

